{% extends 'base2.html.twig' %}

{% block title %}stage details{% endblock %}

{% block body %}
  <!-- Hero Area Start-->
        <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/about.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Détails du l'entreprise</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
          <!-- job post company Start -->
        <div class="job-post-company pt-120 pb-120">
            <div class="container">
                <div class="row justify-content-between">
                    <!-- Left Content -->
                    <div class="col-xl-7 col-lg-8">
                        <!-- job single -->
                        <div class="single-job-items mb-50">
                            <div class="job-items">
                                <div class="company-img company-img-details">
                                    <a href="#"><img src="{{asset('theme//img/icon/job-list1.png')}}"></a>
                                </div>
                                <div class="job-tittle">
                                    <a href="#">
                                        <h4>{{entreprise.nom}}</h4>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                          <!-- job single End -->
                       
                        <div class="job-post-details">
                            <div class="post-details1 mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Offre du stage </h4>
                                </div>
                                <p>{{entreprise.logo}}</p>
                            </div>
                          
                          
                        </div>
                          <div class="job-post-details">
                           <div class="post-details4 ">
                                <div class="small-section-tittle">
                               <h4></h4>
                             </div>
                               
                     
                            </div>
                          
                          
                        </div>


                    </div>
                    <!-- Right Content -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="post-details3  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4>Company Information</h4>
                           </div>
                          <ul>
                              <li>Nom  :<span>{{entreprise.nom}}</span></li>
                              <li>Email : <span>{{entreprise.email}}</span></li>
                   
                              <li>Adresse : <span>{{entreprise.adresse}}</span></li>
                            <li>Specialite : <span>{{entreprise.Specialite}}</span></li>
                            
                          </ul>
                        
                       </div>
                        <div class="post-details4  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4>Ajouter votre CV</h4>
                           </div>
                             <div class="apply-btn2">
                            <a href="#" class="btn">Apply Now</a>
                         </div>
                            
                       </div>
                       
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- job post company End -->
{% endblock %}
