{% extends 'admin.html.twig' %}

{% block body %}
  <div class="container-fluid">
 <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Liste des entreprises</h1>
                       
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                       <div class="container-fluid">
                    <table class="table">
 
   
 
   
  

   
     <thead class="thead-light">
     
      <tr>
       <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

    
      <th scope="col">Nom </th>
      <th scope="col">Prenom</th>
      <th scope="col">Email</th>
        <th scope="col">Spécialité</th>
      <th scope="col">Class</th>
        <th scope="col"></th>
    
      
    </tr>
  </thead>
  <tbody>
   {% for user in users %}
    <tr>
    <td>{{ user.nom }}</td>
      <td>{{ user.prenom }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.specialite }}</td>
    <td>{{ user.class }}</td>
    <td>
     <div class="items-link items-link2 f-right">
      <a class="btn btn-success btn-icon-split" href="{{ path('useredit', {'id': user.id} ) }}">Edit</a>
    
   <a class="btn btn-danger btn-icon-split" href="{{ path('supp', {'id': user.id} ) }}">Delate</a>
      </div>
      </td>
    </tr>
     {% endfor %}
  </tbody>
</table>
                    </div>
                    
                   </div>
 </div>
{% endblock %}
